<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--SimServer adresses-->
  <FlyServerIP>127.0.0.1</FlyServerIP>
  <FlyServerPort>20445</FlyServerPort>

  <XDServerIP>127.0.0.1</XDServerIP>
  <XDServerPort>20446</XDServerPort>

  <FiveDServerIP>127.0.0.1</FiveDServerIP>
  <FiveDServerPort>20446</FiveDServerPort>

  <!--Server addresses for online games-->
  <Server1>10.51.71.11</Server1>  <!--XD01-->
  <Server2>10.51.71.21</Server2>  <!--XD02-->
  <Server3>10.51.71.31</Server3>  <!--Fly-->
  <Server4>10.51.71.41</Server4>  <!--FiveD-->
  <Server5>10.51.71.229</Server5> <!--Laptop1-->
  <Server6>10.51.71.236</Server6> <!--Laptop2-->

  <!--Game settings-->
  <FriendlyFire>true</FriendlyFire><!--true or false-->


  <!--Launch client settings. These options may be overridden by launch arguments, mostly when you run the game through the SimServer-->
  <GameMode>Online</GameMode><!--Online or Offline-->
  <PlatformType>XDMotion</PlatformType><!--XDMotion, FlyMotion, FiveDMotion, Desktop, HTCVive or Spectator-->

</configuration>